<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,292},{416,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,374}}</string>
                <key>sourceSize</key>
                <string>{416,374}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,465},{100,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,110}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>earth_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1629,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1629,257}}</string>
                <key>sourceSize</key>
                <string>{1629,257}</string>
            </dict>
            <key>earth_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{1338,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1338,242}}</string>
                <key>sourceSize</key>
                <string>{1338,242}</string>
            </dict>
            <key>earth_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,831},{886,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{886,226}}</string>
                <key>sourceSize</key>
                <string>{886,226}</string>
            </dict>
            <key>earth_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,911},{626,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,238}}</string>
                <key>sourceSize</key>
                <string>{626,238}</string>
            </dict>
            <key>rock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{1560,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1560,202}}</string>
                <key>sourceSize</key>
                <string>{1560,202}</string>
            </dict>
            <key>rock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,709},{1128,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1128,200}}</string>
                <key>sourceSize</key>
                <string>{1128,200}</string>
            </dict>
            <key>rock_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,668},{638,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,161}}</string>
                <key>sourceSize</key>
                <string>{638,161}</string>
            </dict>
            <key>saw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,2},{314,288}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,288}}</string>
                <key>sourceSize</key>
                <string>{320,288}</string>
            </dict>
            <key>spike.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,911},{253,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,201}}</string>
                <key>sourceSize</key>
                <string>{253,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:217922a4e6d85200a9a2de215b4b58b9$</string>
            <key>textureFileName</key>
            <string>scene-ipadhd.png</string>
        </dict>
    </dict>
</plist>
