<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,68},{104,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,94}}</string>
                <key>sourceSize</key>
                <string>{104,94}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>earth_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{407,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,64}}</string>
                <key>sourceSize</key>
                <string>{407,64}</string>
            </dict>
            <key>earth_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{335,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,61}}</string>
                <key>sourceSize</key>
                <string>{335,61}</string>
            </dict>
            <key>earth_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,211},{222,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,57}}</string>
                <key>sourceSize</key>
                <string>{222,57}</string>
            </dict>
            <key>earth_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{157,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,60}}</string>
                <key>sourceSize</key>
                <string>{157,60}</string>
            </dict>
            <key>rock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{390,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,51}}</string>
                <key>sourceSize</key>
                <string>{390,51}</string>
            </dict>
            <key>rock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{282,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,50}}</string>
                <key>sourceSize</key>
                <string>{282,50}</string>
            </dict>
            <key>rock_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,164},{159,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,45}}</string>
                <key>sourceSize</key>
                <string>{159,45}</string>
            </dict>
            <key>spike.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{63,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,50}}</string>
                <key>sourceSize</key>
                <string>{63,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d89e58fce5ce48dfe086513dbb571241$</string>
            <key>textureFileName</key>
            <string>scene.png</string>
        </dict>
    </dict>
</plist>
